html, body { /*main style*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: 15pt;
	background: #222;
	margin: 0;
	height: 100%;
}
header { /*style for the header*/
	font-family: '8BITWONDERNominal';
	text-shadow: 2px 2px 	#3CC;
	text-align: center;
}

section { /*for sections*/
	width: 40%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}




